.banner-div {
  background: url("img/showcase.jpg") center center;
  background-size: cover;
}



.banner-text-large{
    padding-top: calc(2.5em + 1vw);
    font-size: calc(1.3em + 1vw);
}

.banner-text-small{
    font-size: calc(0.3em + 1vw);
    padding-bottom: calc(12.5em + 1vw);
}

